<div>
	<div>
		<h1>Welcome to Hacker Stacker</h1>
	</div>

	<div>
		<h2>Select a question to explore, or login to post a question or comment</h2>
		<div>
			<ul>
				<% @questions.each do |question| %>
					<li>
						<a href="/questions/<%= question.id %>"><%= question.title %></a><br>
						<p>Question: <%= question.text %></p>
						<p>Votes: <%= question.points %></p>
						<form action="/questions/<%= question.id %>/vote-up" method="POST">
							<input type="submit" name="up-vote" value="UP">
						</form>
						<form action="/questions/<%= question.id %>/vote-down" method="POST">
							<input type="submit" name="down-vote" value="DOWN">
						</form>							<% question.answers.each do |answer| %>
								<p>Answer:<%= answer.text %></p>
							<% end %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>

</div>
