<!-- SHOW THE QUESTION -->
<error><%= @errors[0] if @errors %></error>
<h2>Question:</h2>
<p><strong><%=@question.title %></strong></p>
<p><%=@question.text %></p>
<!-- SHOW ANSWERS -->
<p><%=@answers.text %></p>
<!-- ANSWER THIS QUESTION -->
<p><a href="/questions/<%= @question.id %>/answers/new">Answer this question</a></p>