<h1>Profile page for a specific user</h1>

<h3>Welcome, <%= @user.first_name %> <%= @user.last_name %> </h3>

<h2>Your Questions:</h2>
  <ul>
  <% @user.questions.each do |question| %>
  <li><%= question.title %><br>
      <%= question.text %>
  </li>
  <% end %>
  </ul>

<h2>Your Contributed Answers:</h2>
  <ul>
  <% @user.answers.each do |answer| %>
  <li><%= answer.question.title %><br>
    <%= answer.text %></li>
  <% end %>
  </ul>

<div><a href="/questions/new">Add a question</a></div>

<div><a href="/users/<%= @user.id %>/comments">View all comments</a></div>




