<h1>Profile page for a specific user</h1>
<h1><%= current_user.id %></h1>
<h3>Welcome, <%= @user.first_name %> <%= @user.last_name %> </h3>
<br>
<h4>Your Questions:</h4>
  <ul>
  <% @user.questions.each do |question| %>
  <li><%= question.title %></li>
  <% end %>
  </ul>

<h4>Your Contributed Answers:</h4>
  <ul>
  <% @user.answers.each do |answer| %>
  <li><%= answer.text %></li>
  <% end %>
  </ul>

<div><a href="/questions/new">Add a question</a></div>

<div><a href="/users/<%= @user.id %>/comments">View all comments</a></div>




